<section class="contact section" id="contact">
  <div class="contact__container container">
    <!-- GET IN TOUCH -->

    <div class="contact__touch" data-aos="fade-right">
      <h3 class="contact__touch--title title">get in touch</h3>
      <p class="contact__touch--text text">
        You can contact me directly by email or by filling out the contact form
        on my website.
      </p>
      <div class="icons">
        <!-- row 1 -->

        <div class="icons__container">
          <div class="icons__circle">
            <img
              src="../../../assets/images/icons/map.svg"
              alt=""
              class="icons__img"
            />
          </div>
          <span class="icons__data">Austria, Graz 8020</span>
        </div>

        <!-- end row 1 -->
        <!-- row 2 -->

        <div class="icons__container">
          <div class="icons__circle">
            <img
              src="../../../assets/images/icons/mail.svg"
              alt=""
              class="icons__img"
            />
          </div>
          <span class="icons__data">subotic.dejan89@gmail.com</span>
        </div>

        <!-- end row 2 -->
        <!-- row 3 -->

        <div class="icons__container">
          <div class="icons__circle">
            <img
              src="../../../assets/images/icons/phone.svg"
              alt=""
              class="icons__img phone"
            />
          </div>
          <span class="icons__data">+43 667 7726 313</span>
        </div>

        <!-- end row 3 -->
      </div>
    </div>

    <!-- END GET IN TOUCH -->
    <!-- CONTACT ME -->

    <div class="contact__me" data-aos="fade-left">
      <h3 class="contact__me--title title">contact me</h3>
      <div class="form">
        <!-- form 1 -->

        <div class="form__container">
          <input type="text" placeholder="First Name" class="form__input" />
          <input type="text" placeholder="Last Name" class="form__input" />
        </div>

        <!-- end form 1 -->
        <!-- form 2 -->

        <div class="form__container">
          <input type="text" placeholder="Phone" class="form__input" />
          <input type="text" placeholder="Email" class="form__input" />
        </div>

        <!-- end form 2 -->
        <!-- form 3 -->

        <div class="form__container">
          <textarea
            name="message"
            placeholder="Message"
            class="form__textarea"
          ></textarea>
        </div>

        <!-- end form 3 -->

        <a href="#" class="form__btn btn">Send</a>
      </div>
    </div>

    <!-- END CONTACT ME -->
  </div>

  <!-- OVERLAY -->

  <div class="overlay">
    <img
      src="../../../assets/images/icons/point.png"
      alt=""
      class="point"
      data-aos="flip-left"
      data-aos-easing="ease-out-cubic"
      data-aos-delay="300"
    />
    <img
      src="../../../assets/images/shapes/shape-1.png"
      alt=""
      class="shape shape-1"
    />
    <img
      src="../../../assets/images/shapes/shape-2.png"
      alt=""
      class="shape shape-2"
    />
    <img
      src="../../../assets/images/shapes/shape-3.png"
      alt=""
      class="shape shape-3"
    />
    <img
      src="../../../assets/images/shapes/shape-4.png"
      alt=""
      class="shape shape-4"
    />
    <img
      src="../../../assets/images/shapes/shape-5.png"
      alt=""
      class="shape shape-5"
    />
    <img
      src="../../../assets/images/shapes/shape-6.png"
      alt=""
      class="shape shape-6"
    />
    <img
      src="../../../assets/images/shapes/shape-7.png"
      alt=""
      class="shape shape-7"
    />
    <img
      src="../../../assets/images/shapes/shape-1.png"
      alt=""
      class="shape shape-8"
    />
  </div>

  <!-- END OVERLAY -->
</section>
