<section class="about section" id="about">
  <div class="about__container container">
    <!-- HEADER -->

    <div class="about__header header" data-aos="zoom-in">
      <h2 class="about__header--title title" data-title="who am i">About me</h2>
      <p class="about__header--subtitle subtitle">
        Learn more about my background and expertize.
      </p>
    </div>

    <!-- END HEADER -->
    <!-- ABOUT ME -->

    <div class="about__me">
      <!-- Content -->

      <div
        class="about__me--container"
        data-title="about"
        data-aos="fade-right"
      >
        <h3 class="about__me--title" data-about="About">Hello,</h3>
        <p class="about__me--text text">
          As a web developer with two years of experience, I specialize in
          frontend and backend web development. I use technologies such as HTML,
          CSS, SCSS, SASS, JavaScript, TypeScript, Angular, NgRx, Angular
          Material, Bootstrap for frontend development, and for backend
          development I work with Node.js, Express.js, MongoDB, Google
          Firebase/Firestore, SQL, Mongoose. I am also experienced with
          platforms such as Git, GitHub, NPM, Visual Studio Code, Postman. In
          addition to this, I have some experience with C#, .NET6, Entities
          Framework, Tailwind CSS, jQuery, OAuth2, Ionic, Webpack, Stripe,
          Figma, Photoshop. My goal is to work with the latest technologies to
          provide quality and customized solutions for my clients.
        </p>
        <div class="skills" #skills>
          <!-- skills-1 -->

          <div class="skills__container">
            <h4 class="skills__title">web design</h4>
            <div class="skills__bar">
              <div class="skills__progress" data-progress="70%" #element></div>
            </div>
          </div>

          <!-- end skills-1 -->
          <!-- skills-2 -->

          <div class="skills__container">
            <h4 class="skills__title">copyright</h4>
            <div class="skills__bar">
              <div class="skills__progress" data-progress="80%" #element></div>
            </div>
          </div>

          <!-- end skills-2 -->
          <!-- skills-3 -->

          <div class="skills__container">
            <h4 class="skills__title">web development</h4>
            <div class="skills__bar">
              <div class="skills__progress" data-progress="90%" #element></div>
            </div>
          </div>

          <!-- end skills-3 -->
        </div>
        <a href="#" class="skills__btn btn">read more</a>
      </div>

      <!-- End Content -->
      <!-- Img -->

      <div class="about__me--img image" data-aos="fade-left">
        <img src="../../../assets/images/avatar/avatar-2.png" alt="" />
      </div>

      <!-- End Img -->
    </div>

    <!-- END ABOUT ME -->
  </div>

  <!-- OVERLAY -->

  <div class="overlay">
    <img
      src="../../../assets/images/shapes/points-4.png"
      alt=""
      class="point"
    />
  </div>

  <!-- END OVERLAY -->
</section>
