<section class="portfolio section" id="portfolio">
  <div class="portfolio__container container">
    <!-- HEADER -->

    <div class="portfolio__header header" data-aos="zoom-in">
      <h2 class="portfolio__header--title title" data-title="my works">
        Portfolio
      </h2>
      <p class="portfolio__header--subtitle subtitle">
        Explore some of my works and get a glimpse of my portfolio
      </p>
    </div>

    <!-- END HEADER -->
    <!-- PROJECTS -->

    <div class="portfolio__projects">
      <!-- project 1 -->

      <div class="portfolio__projects--container reverse">
        <div class="portfolio__projects--video" data-aos="fade-right">
          <video controls type="video/mp4">
            <source src="../../../assets/video/travel.mp4" />
          </video>
        </div>
        <div class="portfolio__projects--content" data-aos="fade-left">
          <h3 class="portfolio__projects--title">travel app</h3>
          <div class="portfolio__projects--text text">
            The travel website is built using the Angular framework. It enables
            users to search and book various travel destinations, as well as
            find information on accommodation, transportation, and activities at
            the destination. The website also has a section for traveler reviews
            and ratings, as well as a blog section with travel tips and
            recommendations. The user interface is simple and intuitive to use,
            and it supports mobile devices.
            <a
              href="https://github.com/subotic1989/travel_app"
              class="portfolio__projects--link"
              >Code</a
            >
          </div>
        </div>
      </div>

      <!-- end project 1 -->
      <!-- project 2 -->

      <div class="portfolio__projects--container">
        <div class="portfolio__projects--content" data-aos="fade-right">
          <h3 class="portfolio__projects--title">cake app</h3>
          <div class="portfolio__projects--text text">
            The website has been built using Angular, with clean and
            understandable code that makes it easy to modify and add new
            content. This page boasts its own unique design elements and
            functionality, and is optimized for responsiveness, meaning that it
            will adapt to different screen sizes and devices. The beautiful and
            modern design is sure to leave a lasting impression on visitors.
            <a
              href="https://github.com/subotic1989/cake_app"
              class="portfolio__projects--link"
              >Code</a
            >
          </div>
        </div>
        <div class="portfolio__projects--video" data-aos="fade-left">
          <video controls type="video/mp4">
            <source src="../../../assets/video/cake.mp4" />
          </video>
        </div>
      </div>

      <!-- end project 2 -->
      <!-- project 3 -->

      <div class="portfolio__projects--container reverse">
        <div class="portfolio__projects--video" data-aos="fade-right">
          <video controls type="video/mp4">
            <source src="../../../assets/video/auto.mp4" />
          </video>
        </div>
        <div class="portfolio__projects--content" data-aos="fade-left">
          <h3 class="portfolio__projects--title">auto app</h3>
          <div class="portfolio__projects--text text">
            This web application is developed using Angular technology,
            providing users with an exceptional design that is responsive and
            dynamic. With a beautiful parallax effect, the application offers
            various options including user login, advertising, customer reviews,
            and contact forms. The code is clean, organized, and very easy to
            update and add new features to the web application. This makes the
            application highly flexible, allowing for continuous improvements
            and upgrades.
            <a
              href="https://github.com/subotic1989/luxus_autos_app"
              class="portfolio__projects--link"
              >Code</a
            >
          </div>
        </div>
      </div>
      <!-- end project 3 -->
      <!-- project 4 -->

      <div class="portfolio__projects--container">
        <div class="portfolio__projects--content" data-aos="fade-right">
          <h3 class="portfolio__projects--title">hike app</h3>
          <div class="portfolio__projects--text text">
            This app is used to record the activities of a hiking group. The app
            offers the possibility of registering users, writing posts,
            deleting, editing, commenting and liking. All activities are
            recorded on a map with the exact coordinates and other basic
            information. The frontend is written in Angular and is uploaded on
            Firebase. The backend is in Express.js and MongoDB and is uploaded
            on Heroku. It uses the Leaflet library for maps and images that are
            uploaded on Cludinary.
            <a
              href="https://github.com/subotic1989/hike_backend_app"
              class="portfolio__projects--link"
              >Code</a
            >
          </div>
        </div>
        <div class="portfolio__projects--video" data-aos="fade-left">
          <video controls type="video/mp4">
            <source src="../../../assets/video/wanderung.mp4" />
          </video>
        </div>
      </div>

      <!-- end project 4 -->
      <!-- project 5 -->

      <div class="portfolio__projects--container reverse">
        <div class="portfolio__projects--video" data-aos="fade-right">
          <video controls type="video/mp4">
            <source src="../../../assets/video/tennis.mp4" />
          </video>
        </div>
        <div class="portfolio__projects--content" data-aos="fade-left">
          <h3 class="portfolio__projects--title">tennis app</h3>
          <div class="portfolio__projects--text text">
            This Tennis App is hosted and has a practical purposes. The
            application contains information about the players, gallery, current
            player rankings, statistics, events, locations where tournaments are
            held and etc. This application uses NgRX to manipulate data, custom
            components, 3-language localization, authentication, authorization,
            roles, guards, interceptors and it is responsive to all types of
            devices. Like the previous one, this application uses the Firebase
            as a backend. The application contains an Admin role that has the
            ability to make some changes like delete, add or edit player and
            photos uploads.
            <a
              href="https://github.com/subotic1989/tennis_app"
              class="portfolio__projects--link"
              >Code</a
            >
          </div>
        </div>
      </div>
      <!-- end project 5 -->
    </div>
    <!-- END PROJECTS -->
  </div>
</section>
