<footer class="footer">
  <div class="footer__container container">
    <!-- COPYRIGHT -->

    <div class="footer__copyright">
      <p class="footer__copyright--text text">Copyright © 2023 Made by</p>
      <img
        src="../../../assets/images/icons/logo.png"
        alt=""
        class="footer__copyright--img"
      />
      <!-- <span class="footer__copyright--span">DS</span> -->
    </div>

    <!-- END COPYRIGHT -->
    <!-- BTN -->

    <div class="footer__btn">
      <div class="back-btn-wrap">
        <a href="#" class="back-btn">
          <img
            src="../../../assets/images/icons/arrow.svg"
            alt=""
            class="footer__btn--arrow"
          />
        </a>
      </div>
    </div>

    <!-- END BTN -->
  </div>
</footer>
