.footer {
  background-color: var(--dark-one);

  &__container {
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__copyright {
    display: flex;
    align-items: center;

    &--text {
      color: var(--dark-two);
      font-style: var(--font-size-text);
      margin-right: 0.5rem;
    }

    &--span {
      color: var(--main-color);
      font-weight: 600;
    }

    &--img {
      width: 30px;
    }
  }

  &__btn {
    &--arrow {
      width: 20px;
    }
  }
}

.back-btn-wrap {
  position: relative;
  margin-left: 2.5rem;
}

.back-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
  width: 55px;
  background-color: var(--main-color);
  border-radius: 50%;
  color: #fff;
  font-size: var(--font-size-6);
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.15);
  transition: 0.3s;
  position: relative;
  z-index: 2;
}

.back-btn:hover {
  background-color: var(--dark-one);
}

.back-btn-wrap:before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: #fff;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.7);
  border-radius: 50%;
  opacity: 0.08;
  animation: scale 1.2s ease-out infinite 1s;
}

@keyframes scale {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.15;
  }

  100% {
    transform: translate(-50%, -50%) scale(1.6);
    opacity: 0;
  }
}
