<section class="phrase section">
  <div class="phrase__container container" data-aos="fade-up">
    <!-- PHRASE -->

    <h1 class="phrase__title">
      "The only way to do great work is to love what you do."
    </h1>
    <p class="phrase__subtitle">- Steve Jobs</p>
  </div>

  <!-- END PHRASE -->
  <!-- OVERLAY -->
  <div class="overlay">
    <img
      src="../../../assets/images/shapes/shape-1.png"
      alt=""
      class="shape shape-1"
    />
    <img
      src="../../../assets/images/shapes/shape-2.png"
      alt=""
      class="shape shape-2"
    />
    <img
      src="../../../assets/images/shapes/shape-3.png"
      alt=""
      class="shape shape-3"
    />
    <img
      src="../../../assets/images/shapes/shape-4.png"
      alt=""
      class="shape shape-4"
    />
    <img
      src="../../../assets/images/shapes/shape-5.png"
      alt=""
      class="shape shape-5"
    />
    <img
      src="../../../assets/images/shapes/shape-6.png"
      alt=""
      class="shape shape-6"
    />
    <img
      src="../../../assets/images/shapes/shape-7.png"
      alt=""
      class="shape shape-7"
    />
  </div>

  <!-- END OVERLAY -->
</section>
