.phrase {
  background-color: var(--main-color);
  position: relative;

  &__container {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
  }

  &__title {
    color: var(--light-one);
    font-size: var(--font-size-2);
  }

  &__subtitle {
    color: var(--light-one);
    font-size: var(--font-size-subtitle);
  }
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  .shape {
    filter: brightness(0) invert(1);
  }
  .shape-1 {
    right: 5%;
    top: 5%;
  }
  .shape-2 {
    right: 50%;
    top: 15%;
  }
  .shape-3 {
    right: 95%;
    top: 17%;
  }
  .shape-4 {
    right: 25%;
    top: 85%;
  }
  .shape-5 {
    right: 65%;
    top: 65%;
  }
  .shape-6 {
    right: 5%;
    top: 75%;
  }
  .shape-7 {
    right: 85%;
    top: 55%;
  }
  .shape-8 {
    right: 95%;
    top: 5%;
  }
}
