<section class="home section" id="home">
  <div class="home__container container">
    <!-- HELLO -->

    <div class="home__hello" data-aos="fade-right">
      <ngx-typed-js
        [strings]="strings"
        [typeSpeed]="100"
        [backSpeed]="60"
        [startDelay]="1000"
        [loop]="true"
      >
        <h1 class="home__hello--title">
          Hello, <br />
          <span class="home__hello--typing typing"></span>
        </h1>
      </ngx-typed-js>
      <p class="home__hello--text text">
        Discover my portfolio of web development projects and see how I can help
        bring your digital vision to life.
      </p>
      <a href="#portfolio" class="home__hello--btn btn">explore my work</a>
    </div>

    <!-- END HELLO -->
    <!-- IMG -->

    <div class="home__img image" data-aos="fade-left">
      <img
        src="../../../assets/images/avatar/avatar-1.png"
        alt=""
        class="home__img--style"
      />
      <span class="balloon"> </span>
    </div>

    <!-- END IMG -->
  </div>

  <!-- OVERLAY -->

  <div class="overlay">
    <img
      src="../../../assets/images/shapes/shape-1.png"
      alt=""
      class="shape shape-1"
    />
    <img
      src="../../../assets/images/shapes/shape-2.png"
      alt=""
      class="shape shape-2"
    />
    <img
      src="../../../assets/images/shapes/shape-3.png"
      alt=""
      class="shape shape-3"
    />
    <img
      src="../../../assets/images/shapes/shape-4.png"
      alt=""
      class="shape shape-4"
    />
    <img
      src="../../../assets/images/shapes/shape-5.png"
      alt=""
      class="shape shape-5"
    />
    <img
      src="../../../assets/images/shapes/shape-6.png"
      alt=""
      class="shape shape-6"
    />
    <img
      src="../../../assets/images/shapes/shape-7.png"
      alt=""
      class="shape shape-7"
    />
    <img
      src="../../../assets/images/shapes/shape-7.png"
      alt=""
      class="shape shape-8"
    />
    <img
      src="../../../assets/images/shapes/points-1.png"
      alt=""
      class="point"
    />
  </div>

  <!-- END OVERLAY -->
</section>
