<section class="services section" id="services">
  <div class="services__container container">
    <!-- HEADER -->

    <div
      class="services__header header"
      data-aos="zoom-in"
      data-aos-delay="150"
    >
      <h2 class="services__header--title title" data-title="what i do">
        Services
      </h2>
      <p class="services__header--subtitle subtitle">
        Providing custom solutions to help clients achieve their online goals.
      </p>
    </div>

    <!-- END HEADER -->
    <!-- CARDS -->

    <div class="services__cards">
      <!-- card 1 -->

      <div class="services__cards--wrapper" data-tilt>
        <div
          class="services__cards--container shadow"
          card-title="UX-UI"
          data-aos="fade-up"
          data-aos-delay="150"
        >
          <img
            src="../../../assets/images/icons/design.png"
            alt=""
            class="services__cards--img"
          />
          <h3 class="services__cards--title">web design</h3>
          <p class="services__cards--text text">
            Web design & copywriting, crafting captivating content on stunning
            websites.
          </p>
          <a
            href="#"
            class="services__cards--btn btn"
            (click)="openService('card-7')"
            routerLink="/blog/service-1"
            >read more</a
          >
        </div>
        <img
          src="../../../assets/images/shapes/points-1.png"
          alt=""
          class="services__cards--shape-l"
          data-aos="zoom-in"
          data-aos-delay="150"
        />
      </div>

      <!-- end card 1 -->
      <!-- card 2 -->

      <div class="services__cards--wrapper" data-tilt>
        <div
          class="services__cards--container shadow"
          card-title="WEB"
          data-aos="fade-up"
          data-aos-delay="150"
        >
          <img
            src="../../../assets/images/icons/code.png"
            alt=""
            class="services__cards--img"
          />
          <h3 class="services__cards--title">Web Development</h3>
          <p class="services__cards--text text">
            Creating custom web solutions using the latest technologies and
            industry standards5
          </p>
          <a
            href="#"
            class="services__cards--btn btn"
            (click)="openService('card-8')"
            routerLink="/blog/service-2"
            >read more</a
          >
        </div>
      </div>

      <!-- end card 2 -->
      <!-- card 3 -->

      <div class="services__cards--wrapper" data-tilt>
        <div
          class="services__cards--container shadow"
          card-title="APP"
          data-aos="fade-up"
          data-aos-delay="450"
        >
          <img
            src="../../../assets/images/icons/app.png"
            alt=""
            class="services__cards--img"
          />
          <h3 class="services__cards--title">App Development</h3>
          <p class="services__cards--text text">
            Developing high-quality web apps with modern tech and best practices
            for scalability and robustness.
          </p>
          <a
            href="#"
            class="services__cards--btn btn"
            (click)="openService('card-9')"
            routerLink="/blog/service-3"
            >read more</a
          >
        </div>
        <img
          src="../../../assets/images/shapes/points-1.png"
          alt=""
          class="services__cards--shape-r"
          data-aos="zoom-in"
          data-aos-delay="150"
        />
      </div>

      <!-- end card 3 -->
    </div>

    <!-- END CARDS -->
  </div>
</section>
