.blog {
  background-color: var(--light-two);

  &__header {
    &--title {
      &:after {
        bottom: -0.5rem;
      }
    }
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;

    &--card {
      margin: 1rem 0.5rem;
      background-color: var(--light-three);
      transition: 0.3s;
      position: relative;

      &:after {
        content: "";
        width: 100%;
        height: 0px;
        bottom: 0;
        position: absolute;
        background-color: var(--main-color);
        transition: 0.3s;
      }

      &:hover:after {
        height: 5px;
        transition: 0.3s;
      }

      &:hover {
        transition: 0.3s;
      }

      &:hover .blog__cards--img img {
        transition: 0.3s;
        transform: scale(1.2);
      }
    }

    &--img {
      height: 270px;
      overflow: hidden;

      img {
        transition: 0.3s;
        height: 100%;
      }
    }

    &--content {
      padding: 2rem 2rem 3rem 2rem;
    }

    &--title {
      text-transform: capitalize;
      margin-bottom: 1rem;
      line-height: 1.2;
      font-size: var(--font-size-5);
    }

    &--text {
      margin-bottom: 3rem;
      height: 50px;
      overflow: hidden;
    }

    &--btn {
      padding: 0.65rem 1.8rem;
      position: absolute;
      bottom: 2rem;
    }
  }
}

.info {
  margin-bottom: 1rem;
  color: var(--main-color);
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;

  &__date,
  &__admin {
    display: inline-block;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: var(--font-size-text);
  }

  &__container {
    display: flex;
    align-items: center;
  }

  &__img {
    width: 18px;
    margin-right: 0.5rem;
  }
}
