<section class="blog section" id="blog">
  <div class="blog__container container">
    <!-- HEADER -->

    <div class="blog__header header" data-aos="zoom-in">
      <h2 class="blog__header--title title" data-title="last news">My Blog</h2>
      <p class="blog__header--subtitle subtitle">
        Welcome to my blog, where I share my thoughts on web development and
        technology.
      </p>
    </div>

    <!-- END HEADER -->

    <!-- BLOG -->
    <div class="blog__cards">
      <!-- blog 1 -->

      <div
        class="blog__cards--card shadow"
        data-aos="fade-up"
        data-aos-delay="150"
      >
        <div class="blog__cards--img">
          <img src="../../../assets/images/blog/blog-1.jpg" alt="" />
        </div>
        <div class="blog__cards--content">
          <div class="info">
            <h5 class="info__date">AUGUST, 02 2022</h5>
            <div class="info__container">
              <img
                src="../../../assets/images/icons/user.svg"
                alt=""
                class="info__img"
              />
              <h5 class="info__admin">dejan</h5>
            </div>
          </div>
          <h4 class="blog__cards--title font-3">
            Web Development Trends: A Look into the Future
          </h4>
          <p class="blog__cards--text text">
            The world of web development is constantly evolving...
          </p>
          <a
            href="#"
            class="blog__cards--btn btn"
            (click)="onOpenArticle('article-1')"
            routerLink="/blog/article-1"
            routerL
            ink="/blog/article-1"
            >read more</a
          >
        </div>
      </div>

      <!-- blog 1 -->
      <!-- blog 2 -->

      <div
        class="blog__cards--card shadow"
        data-aos="fade-up"
        data-aos-delay="300"
      >
        <div class="blog__cards--img">
          <img src="../../../assets/images/blog/blog-2.jpg" alt="" />
        </div>
        <div class="blog__cards--content">
          <div class="info">
            <h5 class="info__date">NOVEMBER, 11 2022</h5>
            <div class="info__container">
              <img
                src="../../../assets/images/icons/user.svg"
                alt=""
                class="info__img"
              />
              <h5 class="info__admin">dejan</h5>
            </div>
          </div>
          <h4 class="blog__cards--title font-3">
            Exploring the Latest Trends in HTML Development
          </h4>
          <p class="blog__cards--text text">
            HTML is a core technology used in building web applications...
          </p>
          <a
            href="#"
            class="blog__cards--btn btn"
            (click)="onOpenArticle('article-2')"
            routerLink="/blog/article-2"
            >read more</a
          >
        </div>
      </div>

      <!-- blog 2 -->
      <!-- blog 3 -->

      <div
        class="blog__cards--card shadow"
        data-aos="fade-up"
        data-aos-delay="450"
      >
        <div class="blog__cards--img">
          <img src="../../../assets/images/blog/blog-3.jpg" alt="" />
        </div>
        <div class="blog__cards--content">
          <div class="info">
            <h5 class="info__date">NOVEMBER, 30 2022</h5>
            <div class="info__container">
              <img
                src="../../../assets/images/icons/user.svg"
                alt=""
                class="info__img"
              />
              <h5 class="info__admin">dejan</h5>
            </div>
          </div>
          <h4 class="blog__cards--title font-3">
            NGRX for Managing State in Angular Applications
          </h4>
          <p class="blog__cards--text text">
            NGRX for Managing State in Angular Applications...
          </p>
          <a
            href="#"
            class="blog__cards--btn btn"
            (click)="onOpenArticle('article-3')"
            routerLink="/blog/article-3"
            >read more</a
          >
        </div>
      </div>

      <!-- blog 3 -->
      <!-- blog 4-->

      <div
        class="blog__cards--card shadow"
        data-aos="fade-up"
        data-aos-delay="600"
      >
        <div class="blog__cards--img">
          <img src="../../../assets/images/blog/blog-4.jpg" alt="" />
        </div>
        <div class="blog__cards--content">
          <div class="info">
            <h5 class="info__date">DECEMBER, 22 2022</h5>
            <div class="info__container">
              <img
                src="../../../assets/images/icons/user.svg"
                alt=""
                class="info__img"
              />
              <h5 class="info__admin">dejan</h5>
            </div>
          </div>
          <h4 class="blog__cards--title font-3">
            OOP 101: Understanding the Basics
          </h4>
          <p class="blog__cards--text text">
            Object-oriented programming (OOP) is a programming paradigm...
          </p>
          <a
            href="#"
            class="blog__cards--btn btn"
            (click)="onOpenArticle('article-4')"
            routerLink="/blog/article-4"
            >read more</a
          >
        </div>
      </div>

      <!-- blog 4-->
      <!-- blog 5 -->

      <div
        class="blog__cards--card shadow"
        data-aos="fade-up"
        data-aos-delay="750"
      >
        <div class="blog__cards--img">
          <img src="../../../assets/images/blog/blog-5.jpg" alt="" />
        </div>
        <div class="blog__cards--content">
          <div class="info">
            <h5 class="info__date">JANUARY, 07 2023</h5>
            <div class="info__container">
              <img
                src="../../../assets/images/icons/user.svg"
                alt=""
                class="info__img"
              />
              <h5 class="info__admin">dejan</h5>
            </div>
          </div>
          <h4 class="blog__cards--title font-3">
            Exploring the Latest Trends in HTML Development
          </h4>
          <p class="blog__cards--text text">
            HTML (Hypertext Markup Language) is the backbone of the web...
          </p>
          <a
            href="#"
            class="blog__cards--btn btn"
            (click)="onOpenArticle('article-5')"
            routerLink="/blog/article-5"
            >read more</a
          >
        </div>
      </div>

      <!-- blog 5 -->
      <!-- blog 6 -->

      <div
        class="blog__cards--card shadow"
        data-aos="fade-up"
        data-aos-delay="900"
      >
        <div class="blog__cards--img">
          <img src="../../../assets/images/blog/blog-6.jpg" alt="" />
        </div>
        <div class="blog__cards--content">
          <div class="info">
            <h5 class="info__date">JANUARY, 29 2020</h5>
            <div class="info__container">
              <img
                src="../../../assets/images/icons/user.svg"
                alt=""
                class="info__img"
              />
              <h5 class="info__admin">dejan</h5>
            </div>
          </div>
          <h4 class="blog__cards--title font-3">
            Preventing Back Pains and Other Issues
          </h4>
          <p class="blog__cards--text text">
            Back pain is a common health issue that affects many people...
          </p>
          <a
            href="#"
            class="blog__cards--btn btn"
            (click)="onOpenArticle('article-6')"
            routerLink="/blog/article-6"
            >read more</a
          >
        </div>
      </div>

      <!-- blog 6 -->
    </div>
  </div>
</section>
